# Log files
*.log
DlPdcpStats.txt
DlRlcStats.txt
UlPdcpStats.txt
UlRlcStats.txt
SlPscchRxPhyStats.txt
SlRxPhyStats.txt
SlSchUeMacV2xStats.txt
SlUeV2xMacStats.txt

simulation-logs/

# Python Cache
__pycache__/

# Object files
*.o
